<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <form action="/dojo/create" method="POST">
        <input type="text" name="name">
        <input type="submit" value="submit">
    </form>
    <div class="dojo_list">
        <h1>Dojos</h1>
        {% for dojo in dojos %}
        <p>
            <a href="/dojos/{{dojo.id}}">{{dojo.name}}</a>
        </p>
        {% endfor %}
        <p>
            <a href="/dojos/new">Add new ninja</a>
        </p>
    </div>
</body>
</html>